.OrderOne{
    background-color: white;
    min-height: 170px

}

.title-order{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    color: #787977;
    margin-right: 155px;
    margin-bottom: 0
}
.previous-orderDishes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    
}

.Fried{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 50px
}



.orders-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    background-color: white;
    border-radius: 22px;
    margin-top: 0;
    margin-left: 5%;
    overflow: scroll
}

.currentOrders-cont{
    display: grid;
 grid-gap: 0px;

   height: fit-content
}
.current{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 60px
}

.plate-orderOne{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 20% 10%;
    grid-row-gap: 5px;             
    justify-content: center
}

.order-plate-dish{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 15px;
    color: #787977;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.order-plate-dish-price{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
    color: #787977;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
   margin-bottom: 0;
   padding-right: 40px
}

.button-orderOne{
    width: 68.2px;
    height: 31px;
    margin-top: 10px;
    border: 3px solid #707070;
    background: none;
    border-radius: 22px;
    color: #707070;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 16px;
}

.button-col{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    justify-content: center;
    margin-left: 10px
}


.price-total-order{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    color: #787977;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);

}

.previous-orderBg{
    position: absolute;
    background-color: #DCDBDB;
    height: 0.2%;
    width: 90%;
    z-index: 3;
    background-size: contain;
    top: 275px;
    left: 25px;
}

.current-title{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    color: #555252;
    margin-top: 0;
    margin-bottom: 2%;
    padding-top: 10px;
    margin-right: 150px
}
.currentOrder{
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #DCDBDB;
    border-bottom: 3px solid #DCDBDB;
    
}

.current-dish{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 15px;
    color: #2C2B2B;
}


.current-dish-price{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
    color: #2C2B2B;
    margin-bottom: 0;
    padding-right: 40px
}

.button-col-current{
    display: flex;
    justify-content: space-evenly;
}

.button-current{
    width: 68.2px;
    height: 31px;
    border: 3px solid #2BC026;
    background: none;
    border-radius: 22px;
    color: #2BC026;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10%;
    margin-left: 0%
}

.price-total-current{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    color: #555252
}



#minus-current{
    font-size: 30px;
    margin-top: 6%;
    margin-left: 20%;

}
#minus-previous{
    font-size: 30px;
    margin-top: 1%; 
    margin-right: 6%;
}

#plus-previous{
    font-size: 25px;
  margin-top: 7.5%;
  margin-left: 4%;
}

#plus-current{
    font-size: 25px;
    margin-top: 12%;
    margin-right: 5%
  
}
.instruction-cont{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid #DCDBDB
  
}
.instruction-logo{
    width: 25px;
    height: 40px;
    margin-left: 6%
    
}
.instruction-input{
    border: none;
    height: 30%;
    width: 80%;
    margin-left: 1%
}

.instruction-input::placeholder{
    font-family: "Tw Cen MT";
    font-size: 16px;
    color: #B1B1B1;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);

}

.instruction-input:focus{
    outline: none;

}

.bg-cookingInstrution{
    position: absolute;
    background-color: #DCDBDB;
    height: 0.2%;
    width: 90%;
    z-index: 3;
    background-size: contain;
    top: 450px;
    left: 25px;
}

@media only screen and (max-width: 360px){
    .currentOrder{
        height: 130px;
        justify-content: flex-end;
    
    }
 
    .previous-orderBg{
        top: 275px;
        left: 20px
    }
 
    .current-orderBg{
        top: 400px;
        left: 15px
    }
  
     .current-title{
         width: 50%;
     }
 

    .title-order{
        width: 55%
    }
    .instruction-cont{
        height: 70px
    }
    .bg-cookingInstrution{
        top: 462px;
        left: 17px
    }
}



@media only screen and (height: 640px){
    #plus{
        margin-top: 10%
    }
     .instruction-cont{
        height: 50px
    }


   
}

@media only screen and (min-width: 700px){
    .OrderOne{
        min-height: 200px
    }
    
      
    .title-order{
        margin-right: 70%;
        font-size: 25px
    }
    .current-title{
        margin-right: 70%;
        font-size: 25px;
        margin-bottom: 0
    }
    .order-plate-dish{
        font-size: 22px
    }
    .order-plate-dish-price{
        font-size: 20px
    }
    .button-orderOne{
        margin-top: 10%;
        width: 150px;
        height: 40px;
    }
    .button-col{
        display: grid;
          grid-template-columns: 10% 50% 10%
    }
    #minus-previous{
        font-size: 30px;
       margin-right: 0%;
       margin-top: 30%
    }
    #plus-previous{
        font-size: 30px;
       margin-left: 80%;
       margin-top: 40%
    }
    .price-total-order{
        font-size: 25px
    }
    
   
  .current-dish{
      font-size: 22px
  }
  .current-dish-price{
      font-size: 20px
  }

  .price-total-current{
    font-size: 22px
  }

 .button-col-current{
     margin-right: 10%
 }
  .button-current{
    margin-top: 10%;
    width: 150px;
    height: 40px;
  }


    #minus-current{
       margin-top: 10%
    }

    .instruction-cont{
        height: 90px;
        align-items: center;
  
    }

    .instruction-input{
        margin-top: 0%;
        font-size: 25px
    }
    .instruction-input::placeholder{
        font-size: 25px
    }
    .instruction-logo{
        height: 80px;
        width: 70px
    }


}
@media only screen and (min-width: 1000px){


      
    .title-order{
        margin-right: 70%;
        font-size: 25px
    }
    .current-title{
        margin-right: 70%;
        font-size: 25px;
        margin-bottom: 0
    }
    .order-plate-dish{
        font-size: 22px
    }
    .order-plate-dish-price{
        font-size: 20px
    }
    .button-orderOne{
        margin-top: 10%;
        width: 150px;
        height: 40px;
    }
    .button-col{
        display: grid;
          grid-template-columns: 10% 50% 10%
    }
    #minus-previous{
        font-size: 30px;
       margin-right: 0%;
       margin-top: 30%
    }
    #plus-previous{
        font-size: 30px;
       margin-left: 0%;
       margin-top: 40%
    }
    .price-total-order{
        font-size: 25px
    }
  
   
  .current-dish{
      font-size: 22px
  }
  .current-dish-price{
      font-size: 20px
  }

 .button-col-current{
     margin-right: 10%
 }
  .button-current{
    margin-top: 10%;
    width: 150px;
    height: 40px;
  }


    #minus-current{
       margin-top: 10%
    }

    .instruction-cont{
        height: 90px;
        align-items: center;
   
    }

    .instruction-input{
        margin-top: 0%;
        font-size: 25px
    }
    .instruction-input::placeholder{
        font-size: 25px
    }
    .instruction-logo{
        height: 80px;
        width: 70px
    }

 
}