.Admin-panel{
 
    height: 100%;
    
}

.live{
    color: #5ECFE1
}

.live-off{
    color: #707070
}

.Completed{
    color: #707070
}
.Completed-On{
    color: #5ECFE1
}

.header-line{
    background-color: #5ECFE1;
    background-position: 100%;
    background-size: contain;
    width: 50%;
    height: 0.3%;
    position: absolute;
    z-index: 1;
    top:72px;
    left: 0;
    animation: slide-back 1s ease-in forwards;  
}
@keyframes slide-back {
    0%{
       left: 50%
    }
  
    100%{
       left: 0% 
        
    }
}


.header-line-COMPLETED{
    background-color: #5ECFE1;
    background-position: 100%;
    background-size: contain;
    width: 50%;
    height: 0.3%;
    position: absolute;
    z-index: 1;
    top:72px;
    left: 0%; 
    animation: slide 1s ease-in forwards;  
}
@keyframes slide {
    0%{
       left: 0
    }
  
    100%{
       left: 50% 
        
    }
}


.full-bgAdmin{
    background-color: #EEF2F6;
    background-position: 100%;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
    top:0;
    left: 0; 
}