.live-cardsCont{
    display: grid;
     grid-template-rows: auto;
     grid-row-gap: 10px;
    height: fit-content;
    margin-top: 25%;
    margin-bottom: 20%;
    overflow: scroll
}

.liveCard{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: white;
    border: 10px solid #3CE082;
    border-radius: 6px;
    height: fit-content;

    
}
.dont-have{
    color: #CF2D31;
    position: absolute;
     top: 50%
}

.finishConfirmation{
    background-color: #302B2B;
    position: absolute;
    z-index: 2;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.finishButton{
 position: absolute;
 z-index:10;
 left: 0%;
 top: 0%;
 height: 50%;
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 overflow: auto;
}


.cancel{
    width: 75.94px;
    height: 75.94px;
    border-radius: 50%;
    border: none;
    background: #CF2D31;
    cursor: pointer;
}
 
.cancel:focus{
    outline: none
}
.confirm{
    width: 75.94px;
    height: 75.94px;
    border-radius: 50%;
    border: none;
    background: #3EC076;
    cursor: pointer;
}

.confirm:focus{
    outline: none
}
.completedCard{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: white;
    border: 10px solid #B04E3B;
    border-radius: 6px;
    overflow: scroll;
}
 
.text-order{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  width: 100%;
  resize: both
}



.text-order p {
    margin-bottom: 0;
    margin-left: 2%
}
.Table{
    display: grid;
    grid-template-rows: 45% 40%; 
    background: white;
     width: 110.36;
     justify-content: center;
     
    
}
.table-text{
    font-family:  "TimeBurner";
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 35px
    
}

.table-number{
    font-family: "Segoe UI";
    font-size: 69px;
    font-weight: bold;
    margin-top: 0;
  
 
}

.table-cont{
    display: grid;
    grid-template-rows: 2% 30% 20%;
    height: fit-content;
    background: white;
    justify-content: space-between;

}
.table-cont-completed{
    display: grid;
    grid-template-rows: 2% 60% 20%;
    height: fit-content;
    background: white;
    justify-content: space-between;
}

.time-spend{
    font-family: Tahoma;
    font-size: 17px;
    font-weight: bold;
    color: #908E8E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 0;
    
}
.time-spend-Completed{
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #908E8E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    margin-bottom: 0;
    margin-top: 0
}
.completedTitle{
    margin-bottom: 0;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #2C2C2C;
  
}
.table-paltes-compelted{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    margin-top: 5%;
    border-left: 5px solid #B04E3B
}

.table-paltes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    margin-top: 5%;
    border-left: 5px solid #3EBF75 
}
.table-paltesCompleted{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    margin-top: 5%;
    border-left: 5px solid #B04E3B;
    overflow: scroll
}
.completedCardbtn{
    display: none
}
.orderNumber{
    font-family: Tahoma;
    font-size: 9px;
    font-weight: bold;
    color: #2C2C2C;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 20%
}
.done-button{
    width: 100px;
     height: 30px;
    border: 8px solid #3EC076;
    border-radius: 24px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
     background: none;
     font-family: Tahoma;
    font-size: 17px;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center
}

.done-buttonHidden{
    display: none
}

.Plate-Table{
    display: flex;
    justify-content: space-between;
    height: 12%;
    border-bottom: 1px solid rgba(122, 122, 122, 16%);
    width: 80%
}
.Plate-Tablecc{
    display: flex;
    justify-content: space-between;
    height: 12%;
    border-bottom: 1px solid rgba(122, 122, 122, 16%);
    width: 90%
}
.Plate-Tablecc .firstItemOfOrder{
    display: flex;
    justify-content: center;
    align-items: center
}

.Plate-Tablecc  p{
    font-family: "Tahoma";
    font-size: 10px;
    font-weight: bold
    
}
.plate-comments{
    margin-top: 10px;
    width: 80%;
    min-height: 40%
}
.plate-commentsDis{
    display: none
}

.plateName{
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold; 
}

.palteNumber{
    height: 19.74px;
    width:  32.63px;
    margin-top: 6%;
    background: none;
    border: 3px solid #5FD0E2;
    border-radius: 2px;
    font-family: "Microsoft YaHei UI";
    font-size: 11px;
    font-weight: bold; 
    text-align: center
}


.palteNumber-para{
    margin-top: 0;
    padding-bottom: 20px
}

@media only screen and (min-width: 1000px){
    .live-cardsCont {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-between;
        overflow: hidden;
        margin-top: 10%;
        width: 100%;
        flex-wrap: wrap
     
    }
    .liveCard{
       width: 30% ;
    }
    .completedCard{
        width: 30%;
        overflow: hidden;
    }


}