@import url('https://fonts.googleapis.com/css?family=PT+Serif:700&display=swap');

.bg{
    background: url("../../Asset/backgorund.png");
    background-position: 100%;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
  }


.cont {
    background-color: white;
    background-position: 100%;
    background-size: contain;
    width: 100%;
    height: fit-content;
    min-height: 380px;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    border-radius: 0px 0px 25px 25px;
    
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
    
}

input{
    
    margin-top: 20px;
    border: none;
    background-color: #E7E2E2;
    height: 42px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 15px
}

input::placeholder{
    opacity: 0.5;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 15px
}

input[type^="email"] {
    padding-left: 5%
}
input[type^="password"] {
    padding-left: 5%
}

.title{
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    margin-bottom: 10px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    margin-top: 0px;
    font-size: 35px
}

.login-button{
    border: none;
    background-color: #FF6F42;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 15px;
    width: 119px;
    height:42px ;
    border-radius: 12px
}

.login-button-err{
    border: none;
    background-color: #FF6F42;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
    font-size: 15px;
    width: 119px;
    height:42px ;
    border-radius: 12px
}

.login-button-err:focus{
    outline: none
}

.remember{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    margin-right: 15%;
}

.err{
    text-align: center;
    color: red;
    border: 0.5px solid red;
    width: 70%;
    margin: 0px;
    border-radius: 7px;
    font-family: 'PT Serif', serif;
    font-size: 13px
}

@media only screen and (min-width: 536px) {
    .remember{
        margin-right: 6%;
        color: #E7E2E2
    }
    .singInfull{
        width: 50%;
        display: flex;
        flex-direction: column
      
    }
    .singInSubFull{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
   .singInCONT{
       width: 40%;
       height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
      background-color: #222338;
      border-radius: 22px
   }
   .title{
       color: #E7E2E2
   }
   .cont{
      display: none
   }
    .bg{
        clip-path: polygon(51% 0, 100% 0%, 100% 100%, 50% 100%);
        background-position: 0 100;
        background-size:50%;
    }
    .login-button{
        margin-bottom: 20px;
        background:  #E7E2E2
    }
    .welecome{
        font-family: "Tahoma";
        font-size: 35px;
        font-weight: bold;
        color: #767E91
    }
  }