.admin-header{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: "Tahoma";
    font-size: 23px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}