.qrCode-Container{
    width: 100%;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.qrCode-Container input{
    height: 25px;
    background: white;
    border-radius: 0%;
    margin-bottom: 2%;
    text-align: center
}
.setValue{
    background-color: #5ECEE0;
    border: none;
    width: 200.32px;
    height: 36.39px;
    border-radius: 22px;
    font-family: "Tahoma";
    font-size: 23px;
    font-weight: bold;
}
.setValue:hover{
    cursor: pointer;
}

@media only screen and (min-width: 1000px){
    .qrCode-Container{
        margin-top: 10%
    } 

}