.dishCont {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 0px solid #dcdbdb;
  border-right: 0px solid #2eb9ce;
  border-bottom: 5px solid #dcdbdb;
  border-left: 0px solid #2eb9ce;
  z-index: -1;
}
.category {
  font-family: "Tahoma";
  font-size: 18px;
  font-weight: bold;
  color: #555252;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-bottom: 0%;
  margin-left: 5px;
  margin-top: 1%;
}
.full-dish{
  width: 90%
}

.collapse p{
  margin-top: 0%;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: bold;
  margin-left: 2%
}
.dish {
  width: 100%;
  border-top: 1px solid #dcdbdb;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 2%;
  
}
.first-part{
  display: flex;
  flex-direction: column;
}
.first-part .dishImg{
  width: 109px;
  height: 79px;
}
.first-part .dishImg:hover{
  cursor: pointer
}
.rating-timing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-top: 0;

}


.rating-timing li {
  font-family: "Tahoma";
  font-size: 9px;
  font-weight: bold;
}
.rating-timing li span{
  position: absolute;
  left: 104px
}
.dishName {
  margin: 2%;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.inrice {
  margin: 2%;
  font-family: "Tahoma";
  font-size: 12px;
  font-weight: bold;
  color: #676565;
}

.price {
  margin-top: 8%;
  font-family: "Tahoma";
  font-size: 12px;
  font-weight: bold;
}

.add {
  height: 31px;
  width: 68.2px;
  background: none;
  border: 4px solid #31d82b;
  border-radius: 23px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-top: 3%;
  margin-left: 15%;
  color: #31d82b;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: bold;
  flex:auto;
}

.addplus{

  height: 31px;
  width: -webkit-fill-available;
  flex-shrink: 0;
  background: none;
  border: 4px solid #31d82b;
  border-radius: 23px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-top: 7%;
  color: #31d82b;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: bold
}
.add:focus{
    outline: none
}

.inc{
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: 42%;
  margin-left: 15%;
  margin-top: 2%;
}
.sing-minus{
  color: #31d82b;
  font-style: oblique;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1%; 
  margin-right: 6%;
}
.sing-plus{
  color: #31d82b;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
  margin-top: 7.5%;
  margin-left: 4%;
}



.veg-sym{
  position: absolute;
 left: 100px;
  margin-top: 60px;
  width:10px;
   height:10px;
  z-index: 0
}

.dish-img{
  position: static;
}
.typeAndName{
  flex-shrink: 0;
  width: 30%
}
.main-dishes{
  width: 100%
}
@media only screen and (min-width: 458px) and (max-width: 963px) {
  .inc{
    margin-top: 0%;
    width: 42%;
  }
  .sing-minus{
    margin-top: 6%;
    margin-left: 0%;
  }
  .veg-sym{
    left: 105px;
  }
}

@media only screen and (min-width: 964px) {
  .inc{
    margin-top: 0%;
    width: 47%;
  }
  .sing-minus{
    margin-top: 6%;
    margin-left: 0%;
  }
}

@media only screen and (min-width: 1000px){
  .veg-sym{
    display: none
  }
  .main-dishes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  .dishCont {
    align-items: center;
    width: 100%
  }
.dishList{
  width: 100%;
}
  .dish{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .first-part .dishImg{
    width: 500px;
    height: 250px;
  }
  .rating-timing li span{
    display: none
  }
  .typeAndName{
    display: flex;
    justify-content: center
  }
  .inrice{
    margin: 3%
  }
  .price{
    margin-top: 3.5%
  }
  .add{
      height: 31px;
      width: 100.2px;
      margin-top: 0%;
      margin-left: 0%;
      margin-bottom: 1%
  }
  .add:hover{
    cursor: pointer;
  }
  .inc{
    width: 7.5%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .sing-minus{
    margin-top: 3%
  }
  .sing-minus:hover{
    cursor: pointer;
  }
  .sing-plus:hover{
    cursor: pointer;
  }
  .sing-plus{
    margin-top: 9%
  }
 .category{
   font-size: 35px
 }
}