.dishCont {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 0px solid #dcdbdb;
  border-right: 0px solid #2eb9ce;
  border-bottom: 5px solid #dcdbdb;
  border-left: 0px solid #2eb9ce;
}
.category {
  font-family: "Tahoma";
  font-size: 18px;
  font-weight: bold;
  color: #555252;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-bottom: 0%;
  margin-left: 5px;
  margin-top: 1%;
}
.dish {
  width: 90%;
  border-top: 1px solid #dcdbdb;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  margin-left: 2%;
  
}

.dishName {
  margin: 2%;
  font-family: "Tahoma";
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.inrice {
  margin: 2%;
  font-family: "Tahoma";
  font-size: 12px;
  font-weight: bold;
  color: #676565;
}

.price {
  margin-top: 8%;
  font-family: "Tahoma";
  font-size: 12px;
  font-weight: bold;
}

.add {
  height: 31px;
  width: 68.2px;
  background: none;
  border: 4px solid #31d82b;
  border-radius: 23px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-top: 3%;
  margin-left: 15%;
  color: #31d82b;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: bold;
  flex:auto;
}

.addplus{

  height: 31px;
  width: -webkit-fill-available;
  flex-shrink: 0;
  background: none;
  border: 4px solid #31d82b;
  border-radius: 23px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
  margin-top: 7%;
  color: #31d82b;
  font-family: "Tahoma";
  font-size: 16px;
  font-weight: bold
}

.add:focus{
    outline: none
}

#minus{
  font-size: 30px;
  margin-top: 1%; 
  margin-right: 6%;
}

#plus{
  font-size: 25px;
  margin-top: 7.5%;
  margin-left: 4%;
}

.inc{
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  width: 42%;
  margin-left: 15%;
  margin-top: 2%;
}
.sing{
  color: #31d82b;
  font-style: oblique;
  font-weight: bold
}

@media only screen and (min-width: 458px) and (max-width: 963px) {
  .inc{
    margin-top: 0%;
    width: 42%;
  }
  #minus{
    margin-top: 6%;
    margin-left: 0%;
  }
}

@media only screen and (min-width: 964px) {
  .inc{
    margin-top: 0%;
    width: 47%;
  }
  #minus{
    margin-top: 6%;
    margin-left: 0%;
  }
}