.bills-current{
    background-color: white;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
 
}
.bills{
    background-color: white;
    background-position: 100%;
    background-size: contain;
    width: 100%;
    height: 170px;
    position: absolute;
    z-index: 0;
    top:123px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 0px 23px 23px;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%
}



.taxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%
}

.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-bottom: 10px
}



.item-total{
    font-family: "Tw Cen MT";
    font-size: 18px;
    font-weight: bold;
    color: #7E7E7E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}
.total-price{
    font-family: "Tw Cen MT";
    font-size: 18px;
    font-weight: bold;
    color: #7E7E7E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.tax{
    font-family: "Tw Cen MT";
    font-size: 18px;
    font-weight: bold;
    color: #7E7E7E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    

}

.tax-num{
    font-family: "Tw Cen MT";
    font-size: 18px;
    font-weight: bold;
    color: #7E7E7E;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.grand{
    font-family: "Tw Cen MT";
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
 
}

.result{
    font-family: "Tw Cen MT";
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    color: #2BC026
}

.order-mode{
    display: block;
    position: fixed; 
    z-index: 3; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.smiley-Rating{
    width: 60px;
    height: 70px;
    margin-top: 2%;
    margin-bottom: 2%
}
.orderModel-contect-Rating button{
    border: 2px solid #FFCA42;
    background: none;
    border-radius: 6px;
    width: 109.34px;
    height: 36.65px;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: bold;
    color: #FFCA42;
    margin-top: 5%;
    margin-bottom: 5%
}

.orderModel-contect{
    background-color: #FFCA42;
    margin: auto;
    width: 290px;
    height: 396px;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px
  
}
.orderModel-contect-Rating{
    background-color: #EF673D;
    margin: auto;
    width: 290px;
    height: fit-content;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px
}
.dishContRating{
    width: 100%;
    background-color: rgb(196, 72, 34);
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.dishInfoRating{
    display: flex;
     margin-left: 5%;
     margin-bottom: 0;
     margin-top: 2%
}
.dishInfoRating p{
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  
}
.dishInfoRating .dish {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none
}
.dishContRating .rating-icons{
    width: 35px;
    padding-left: 25%;
  
}

.rating-cont{
    margin-left: 15%
}
.ontheWay{
    font-family: "TimeBurner";
    font-size: 40px;
    font-weight: bold;
    color: #EF673D;
    margin-top: 0;
    width: 80%
}

.orderPlate{
    background-color: #FF6F42;
    border: none;
    border-radius: 22px;
    width: 153.32px;
    height: 36.39px;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: bold;
    color: #2C2B2B
}

@media only screen and (max-width: 350px) {
    .order-mode{
        padding-top: 150px
    } 
    .bills-current{
        top: 462px
    }
}
@media only screen and (height: 640px){
    .bills-current{
        top: 443px
    }
}

@media only screen and (min-width: 700px) {
    .bills-current{
        top: 57%;
        display: flex;
        justify-content: space-around;
        height: 300px
    }
    .item-total{
        font-size: 30px
    }
    .tax{
        font-size: 30px  
    }
    .grand{
        font-size: 35px  
    }
    .total-price{
        font-size: 30px
    }
    .tax-num{
        font-size: 30px 
    }
    .result{
        font-size: 35px 
    }
    .orderPlate{
        height: 55px;
        width: 170px;
        font-size: 25px
    }
  
}

@media only screen and (min-width: 1000px){
    .bills-current{
        top: 42.5%;
        display: flex;
        justify-content: space-around;
        
    }
    .item-total{
        font-size: 30px
    }
    .tax{
        font-size: 30px  
    }
    .grand{
        font-size: 35px  
    }
    .total-price{
        font-size: 30px
    }
    .tax-num{
        font-size: 30px 
    }
    .result{
        font-size: 35px 
    }
}