.header{
    text-align: left;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: #FFCA42;
    border-radius: 0px 0px 25px 25px;
    z-index: 1;
}

.header-element{
    display: grid;
    grid-template-columns: 84% 20%
}

.head-bg{
    background-color: #FFCA42;
    background-position: 100%;
    background-size: contain;
    width: 100%;
    height: 113px;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    border-radius: 0px 0px 25px 25px;
}

.rest{
    font-family: "Tahoma";
    font-size: 23px;
    font-weight: bold;
    color: #555252;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 5%;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.main-dishes{
    padding-top: 150px;
    padding-bottom: 50px
}
.plate{
    font-family: "Tahoma";
    font-size: 42px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;  
    margin-left: 5%;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.menu-Button{
    position: fixed;
    z-index: 2;
    background-color: #FF6F42;
    border: none;
    width: 113.32px;
    height: 36.39px;
    border-radius: 22px;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
    bottom:9%;
    left:35%
}

.total{
    width: 100%;
    background-color: #FFCA42;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom:0px;
    border-radius: 10px 10px 0px 0px;
}

.price-item{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0;
    border-right: 3px solid #555252;
}

.cart{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item{
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Tahoma";
    font-size: 10px;
    font-weight: bold;
    color: #555252;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.total-amount{
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Tahoma";
    font-size: 20px;
    font-weight: bold;
    color: #555252;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.cart-text{
    font-family: "Tahoma";
    font-size: 17px;
    font-weight: bold;
    color: #555252;
    margin-right: 5px
}


.model{
    display: block;
  position: fixed; 
  z-index: 3; 
  padding-top: 450px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modelfalse{
    display: none;
    position: fixed; 
    z-index: 3; 
    padding-top: 550px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);  
}
.model-content{
    background-color: #F5F5F5;
    margin: auto;
    width: 218px;
    height: 245px;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #444444
}
.model-content-admin{
    background-color: #F5F5F5;
    margin: auto;
    width: 250px;
    height: 245px;
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #444444
}

.content{
    margin-bottom: 4%;
    margin-right: 10%;
}

.content-N{
    margin-left: 5%;
    margin-bottom: 4%;

}
.coontent-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border-bottom: 1px solid #7070703d;
}
.hotelName{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%
}
.hotelName p{
    margin: 0
}
.hotelemail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%
} 
.hotelemail p{
    margin: 0
}

.Hotellocation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%
}
.Hotellocation p {
    margin: 0
}
.Resturantname{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 100%
}

.Resturantname p {
    margin: 0
}

.Resturantnumber{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
   
}
.Resturantnumber p{
    margin: 0;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}
.model-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 100%
}
.info-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.info-content img{
    width: 15px;
    height: 15px;
}
.info-content input{
    height: 20px;
    margin: 0;
    border-radius: 0;
}
.info-content button{
    background-color: #22BED8;
    border: none
}
.info-content p{
    color: #FF6F42
}
.logout{
    border: none;
    background: none;
    font-family: "Microsoft YaHei UI";
    border: 2px solid #FF6F42;
    font-weight: bold;
    font-size: 15px;
    width: 119px;
    color: #FF6F42;
    height:32px ;
    border-radius: 12px;
    margin-top: 10px
}

.home{
    width: 100%;
    height: 100%;
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.home button{
    margin-bottom: 5%;
    background-color: #FF6F42;
    border: none;
    width: 153.32px;
    height: 36.39px;
    border-radius: 22px;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: bold
}

@media only screen and (min-width: 750px) {
    .menu-Button{
      margin-left: 5%;
    }
    .price-item{
        margin-right: 6%;
    }
    .model{
        padding-top: 700px
    }
  }

  @media only screen and (max-width: 360px) {
    .model{
        padding-top: 300px
    }
    .main-dishes{
        padding-top: 130px;
        padding-bottom: 25px
    }
  }

  @media only screen and (min-width: 1024px) {
    .menu-Button{
        left: 36%
    }
   .model{
       padding-top: 300px;
   }

   .model-content-admin{
       width: 50%;
       height: fit-content;
     
   }

   
    .model-content{
        margin-right: 570px
    }

    .model-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 20px
    }
  }